<html>
<head>
    <title>Inventory List</title>
</head>
<body>
    <h1>Welcome to Inventory List</h1>

    <p><a href="/inventories">Click here</a> to see all of the Inventory and to add a inventory.</p>

</body>
</html>
